@import "compass/css3";
@import "mixins/borderRadius";
$border-color: 1px solid #808080;

body{
  font-family:LetterGothicStdBold, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 20px;
   background-image:url('../img/binnenhof.jpg');
   background-repeat: no-repeat;     
}
span{
  padding-top: 30px;
  padding-left: 40px;
}
//color the options
.prefeedback{
  background-color: #d3d3d3;
}
.rightanswer{
  background-color: #00FF00; 
}
.wronganswer{
  background-color: #FF0000; 
}
.disabled{
   pointer-events:none;
}

#quizapp{
  width: 800px;
  height: 350px;
  border: $border-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background: rgba(255,255,255, 0.9);
  box-shadow:
  inset 120px 0 240px #fff,  
  inset -120px 0 240px #0ff; 
  @include border-radius(10px);   
  ul{
    float: left;
    margin-top: 30px;
    width: 530px;      
  }
  li{
    list-style-type: none;
    cursor: pointer;  
    padding-top: 10px;
    padding-left: 10px;
    width: 500px;
    height: 30px;
    border: $border-color;   
    @include border-radius(4px);
    @include box-shadow(black 1px 1px 1px);
    &:hover {
      background-color: #FFFFFF;
      @include box-shadow(black 2px 2px 2px);  
    }
   } 
}
#option-container{
  height: 230px;  
}
#question-field{
  display: block;
}
#feedback-field{
  display: block;  
}
#username-field{
  margin-left: 45px;
}
#quiz-photo{
  float: right;
  margin-top:30px;
  margin-right:35px;
  border: $border-color;
}
#score-container{
   height: 50px;   
}
#next-button, #submit-button {
  width: 50px;
  height: 50px;
  margin-top: -30px;
  background-image:url('../img/next-button.png');
  cursor: pointer;  
  margin-left: 718px;
  &:hover {
      background-image:url('../img/next-button-over.png'); 
    }
}
#submit-button{
  margin-left: 200px;
}
#score-list{
  li{
    pointer-events:none;
    width: 340px;    
    }
}
.score-item{  
  float: left;
  width: 300px;  
  padding-top: 0px;
  padding-left: 0px;  
}
#right-answer-feedback{
  width: 100px;
  height: 100px;
  background-image:url('../img/green-flag.png');
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;  
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
//hide it till it is compiled
[v-cloak] {
  display: none;
}

